<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/style.css">
  <title></title>
</head>

<body>
  <div class="jumbotron jumbotron-fluid text-center align-middle mainHeading">
    <div class="container h-100">
      <h1 class="display-1">Welcome to Time Table Maker 2.0</h1>
      <p class="h4">Try creating a time table again.</p>
    </div>
  </div>
  <div class="container justify-content-center d-flex">
    <div class="row align-items-center">
      <button id="homePageButton" class="button-pulse" onclick="window.location.href = '/login'">Create One!</button>
    </div>
  </div>
</body>

</html>